.csillag{
    font-size: 5rem;
    color: #000;
}
.halvanyCsillag{
   color: yellow; 
}
.sotetCsillag{
    color: orange;
}
.jobbCsillag{
    font-size: 3rem; 
}
#atlagolas{
    font-size: 2.5rem;
    font-weight: bold;
}
.jobbCsillagTeli{
    color: orange;
    font-size: 3rem;
}