*{
    padding: 0;
}
a.sajatLink{
    color: green;
}
a.sajatLink:hover{
    color: #fff;
}
a.sajatLink:active{
    color: #ff0000;
}
#myDiv{
    background-color: #ff0000;
    width: 100px;
    padding: 10px;
    box-sizing:border-box;
    border: 2px dotted black;
  
}